{% extends 'base.html' %}
{% block content %}
<title>Call Me Bot</title>

<h1>My reminders</h1>
<div class="row">
    <div class="col-sm">
        <a href="{{ url_for('main.new', reminder_type = 'deadline' )}}" class="btn btn-warning btn-lg btn-block">Add a deadline reminder</a>
    </div>
    <div class="col-sm">
        <a href="{{ url_for('main.new', reminder_type = 'periodic' )}}" class="btn btn-primary btn-lg btn-block">Add a periodic reminder</a>
    </div>
</div>

<div id="reminders" class="justify-content-center">
    {% for reminder in reminders.items %}
        {% include 'main/_reminder.html' %}
    {% endfor %}
</div>

{% if reminders.items|length > 5 %}
<div id="footer">
    {% if reminders.has_prev %}
    <a href="{{ url_for('main.index', page=reminders.prev_num) }}" class="text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
        </svg>
        Previous
    </a>
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
        </svg>
        Previous
    {% endif %}
    
    {% if reminders.has_next %}
    <a href="{{ url_for('main.index', page=reminders.next_num) }}" class="text-decoration-none">
        Next
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
        </svg>
    </a>
    {% else %}
        Next
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
        </svg>
    {% endif %}
</div>
{% endif %}


<script src="../static/jquery.min.js"></script>
<script type="module" src="../static/home.js"></script>
{% endblock %}