{% extends 'base.html' %}
{% block content %}

<h1>About <i>Call Me Bot</i></h1>
<p>
    My inventor, Alejo Parinelli, was tired of forgetting important dates.
    His phone couldn't be of much help: he usually just ignores it.
    Hence, using a reminders app wasn't a solution.
</p>

<h4>He does read his emails frequently. And so...</h4>

<p>
    He created me, hoping I could help him and other people with the same issue.
    Self-emails provide a secure, reliable medium to set reminders on. 
</p>

<h3>Hope you like me.</h3>

{% endblock %}

