<div class="card reminder">
    <div class="card-header">
        <b>{{ reminder.subject }}</b>
        <div class="float-right">
          <a href="{{ url_for('main.edit', reminder_id = reminder.id) }}" class="btn btn-primary btn-sm">Edit</a>
          <form style="display:inline;" method='post', action="{{ url_for('main.delete', reminder_id = reminder.id) }}">
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
        </form>
      </div> 
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ reminder.content }}</li>
      
      {% if reminder.date %}
      <li class="list-group-item">{{ reminder.date.strftime("%A %d. %B %Y") }}</li>
      {% endif %}

      {% if reminder.days %}
      <li class="list-group-item">
        {% for day in reminder.days %}
        <a href="#" class ="badge badge-warning day-badge">{{ day }}</a>
        {% endfor %}
      </li>
      {% endif %}
      
      <li class="list-group-item">{{ reminder.time }}</li>
      
    </ul>
    
  </div>