{% extends 'base.html' %}
{% block content %}
<title>Call Me Bot</title>

<h1>My reminders</h1>
<div class="row">
    <div class="col-sm">
        <a href="{{ url_for('main.new', reminder_type = 'deadline' )}}" class="btn btn-warning btn-lg btn-block">Add a deadline reminder</a>
    </div>
    <div class="col-sm">
        <a href="{{ url_for('main.new', reminder_type = 'periodic' )}}" class="btn btn-primary btn-lg btn-block">Add a periodic reminder</a>
    </div>
</div>

<div id="reminders" class="justify-content-center">
    {% for reminder in reminders %}
        {% include '_reminder.html' %}
    {% endfor %}
</div>

<script src="../static/jquery.min.js"></script>
<script type="module" src="../static/home.js"></script>
{% endblock %}